<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= player.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= player.age %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team %>
  </p>

  <p>
    <strong>Games Played:</strong>
    <%= player.games_played %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= player.ratings %>
  </p>
</div>
